
body {
    font-family: sans-serif;
 
}

a{
    color:#FFFFFF;
    text-transform: uppercase;
    border-radius: 3px;
}
a:hover{
    background: #1d075f;
    transition: .5s;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.cabecalho{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    background: #5434AF;
}
.menu{
    display: flex;
    gap: .5rem;  
}
.menu a{
    display: block;
    padding: .5rem;
}
.btn-mobile{
    color: #FFFFFF;
    display: none;
}

.container{
    width: 60%;
	height: 100%;
	margin: 0 auto;
}
.container h2{
    font-size: 1.5rem;
    display: block;
    padding-bottom: .5rem;
    border-bottom: 1px solid #CCC;
    margin-top: .5rem;
    margin-bottom: .5rem;
    
}
.campo {
    margin: 0;
    padding-bottom: 1rem;
    width: 100%;
    border: 1px solid #CCC;
    padding:.2rem; 
}
input{
    border-radius: 10px;
}
label{
    color: #555;
    display: block;
    margin-bottom: .2rem;
    margin-left: 5px;
}
.campo-medio{
    display: inline-block;
    padding-right: .5rem;
}
.campo-primario{
    width: 95%;
    margin-left: 5px;
}
.grupo{
    width: 30%;
    display: inline-block;
    padding: 5px 5px;
}
.botao {
    background-color: #FFCB47;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    width: 100%;
    margin-top: 10px;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    box-shadow: 10px 10px 30px #FFCB473D;
    border: none;
    cursor: pointer;
}
.cartao{
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #CCC;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;
}
table{
    width: 100%;
    margin-bottom: .5rem;
    table-layout: fixed;
    
}
td,  th{
    padding: .7rem;
    margin:0;
    border: 1px solid #000000; 
}
th{
    font-weight: bold;
    background-color: #EEE;
}
label{
    color:#555;
    display: block;
    margin-bottom: .2rem;
}


@media screen and (max-width: 600px) {
    .btn-mobile{
        display: block;
    }
    .menu{
        display: block;
        position: absolute;
        width: 100%;
        top:70px ;
        right: 0px;
        background: #5434aF;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        
    }
    .navegador.active .menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .15);
    }
}

